body, html {
    height: 100%;
  }

.bg {
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.search-Box{
    text-align: center;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    display: block;

    &__input{
        width: 56%;
        height: 50px;
        border-radius: 12px;
        border: 0;
        font-size: 150%;
        padding: 10px;
    }
    

    button[type="submit"] {

        text-indent: -999px;
        overflow: hidden;
        width: 60px;
        padding-top: 35px;
        padding-bottom: 20px;
        margin-right: 30px;
        margin-left: -90px;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
      }
      
      button[type="submit"]:hover {
        opacity: 1;
      }
      
}

